<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Site</title>
  </head>
  <body>
    <div style="background-color: rgb(231, 94, 52); color: rgb(44, 42, 42)">
      <h1>File could not be uploaded</h1>
      <a>*Please contact admin</a>
    </div>
  </body>
</html>
